.loadingContainer{
height: 60vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;

}

.loadingContent{

  height: 40vh;
  width: 53vw;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.pulsate {
  animation: pulse 3s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.90);
		
	}

	70% {
		transform: scale(1);
		
	}

	100% {
		transform: scale(0.90);
		
	}
}