.loadingContainer{
height: 60vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
z-index: 20;
}

.loadingContent{

  height: 40vh;
  width: 63vw;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.notContainer{
  height: 95vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;


}

.notContent{

  height: 40vh;
  width: 63vw;
  display: flex;
  justify-content: center;
  align-items: center;


}