.navbarContainer {
  position: fixed;
  width: 100vw;
  height: 75px;
  margin-top: -15;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
  text-decoration: none;
}

a:link:hover,
a:link:focus,
a:visited:hover,
a:visited:focus {
  text-decoration: none;
}

.logoContainer {
  width: 40px;
  height: 40px;
  padding: 5px 10px 6px 7px;
  background-color: var(--light-shadow);
  box-shadow: 1px 1px 3px var(--shadow);
  display: flex;
  justify-content: center;
  margin: 15px 0 0 10px;
  border-radius: 25px;
  visibility: visible;
}

.logoContainer:hover {
  background-color: var(--text);
}

img {
  height: 40px;
  width: 40px;
  visibility: visible;
}

ul {
  display: flex;
  justify-content: flex-end;
  padding: 0px 8px;
  margin-top: 20px;
  list-style-type: none;
  font-size: clamp(11px, 2vw, 17px);
  text-decoration: none;
}

.navLink:link {
  color: var(--text-dark);
  text-decoration: none;
  background-color: var(--light-shadow);
  box-shadow: 1px 1px 3px var(--shadow);
  padding: 5px 10px;
  margin: 0 8px;
  border-radius: 15px;
}
Link {
  text-decoration: none;
}
:any-link {
  text-decoration: none;
}

a:navlink:hover {
  text-decoration: none;
}

.navLink:focus-visible {
  background-color: var(--text);
  text-decoration: none;
}

.navLink:visited {
  color: var(--text);
  text-decoration: none;
}

/* mouse over link */
.navLink:hover {
  color: var(--text-light);
  background-color: var(--text);
  text-decoration: none;
}

/* selected link */
.navLink:active {
  color: var(--text-dark);
  text-decoration: none;
}
.navLink:focus {
  padding: 5px 10px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  color: var(--text-light);
  background-color: var(--text);
  text-decoration: none;
}

@media (max-width: 767px) {
  .navbarContainer {
    height: 70px;
  }

  ul {
    margin-top: 15px;
  }

  .navbarContainer {
    justify-content: space-between;
  }

  .navLink:link {
    padding: 5px 7px;
    margin: -15px 2px;
  }

  .logoContainer {
    width: 30px;
    height: 30px;
    padding: 3px 6px 4px 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 0 5px;
    border-radius: 25px;
  }

  img {
    height: 25px;
    width: 25px;
    visibility: visible;
  }
}
