.ReservationContainer {
  background-color: var(--background);
  height: 100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
}

.login-card{

  color: var(--text-light);

}

.ReservationForm {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(16px, 1vw, 20px);
}
.resCon{
margin-bottom: 15px;

}

.reservationBt {

  margin: 2% 0 ;
  font-size: 0.7rem;
  width: 100px;
  height: 30px;
  border-radius: 0.1rem;
  appearance: none;
  border: 1px dotted var(--text);
  background: var(--text-light);
  color: var(--text);
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;

  transition: 0.2s ease-in-out;
  outline: 0;

}


.reservationBt:hover {
  height: 100%;
  width: 100%;
  border-radius: 0 0 10px 10px;
 
}

.custom-input__input_reservation_page{
  height: 4rem;
  width: 55%;
  margin-top: 3%;
  appearance: none;
  border: 0;
  border-bottom: 0;
  border-radius: 2px;
  outline: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--backgrundComponents);
  font-size: 1.2rem;
  font-weight: 300;
  transform: border-color 0.2s ease-in-out;



}

