

.roomsItemContainer{




  
}


.roomsItemContent {
 background-color: aquamarine;
width: 100%;
height: 100%;
max-width: 500px;
max-height: 300px;
display: flex;
flex-direction: column;
font-size: clamp(8px, 10px, 12px);
margin: 1% 1%;
border-radius: 5px;
box-shadow: 4px 2px 6px 2px rgb(70, 66, 66);

}

.textinRoom{
  padding: 0 auto;
  margin: 0 auto;
  font-size: clamp(8px, 15px, 20px);
}





.textContent {

  text-align: center;
  grid-row: 1/1;
  height: 50%;
  background-color: burlywood;
}

.textAdultChildContainer {
  display: flex;

 
  justify-content: space-around;
  
}
.textsmall{
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
background-color: bisque;

}


.ImgSliderContainer{
position: relative;
  grid-row: 2/5;
  z-index: 10;
height: 100%;
display: flex;
}

.sliderBtn{
position: absolute;
top: 50%;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;

}
.roomImg{
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;


}
.reservationBtnContainer{
top: 90%;
width: 100%;
height: 10%;
  position: absolute;
background-color: bisque;

}

.reservationBtn{
height: 100%;
width: 100%;

}

@media (min-width: 768px) {
  .RoomItemsList {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 95px;
  }

  
.roomsItemContainer {
  
  width: 98%;
  height: 100%;
  max-width: 550px;
  max-height: 400px;
  margin-top: 5vh;
  }
}

@media (min-width: 1024px) {
  

  .roomsItemContainer {
 
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    align-content: start;
    overflow-y: scroll;
    place-items: center;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }

}
