:root {
  --background: #ffffff;
  --backgrundComponents: #aab9ad;
  --primary: #899785;
  --secondary: #ffffff;
  --treedary: #d2face;
  --text-dark: #272c28;
  --text: #768579;
  --text-mid: #7a8d7e;
  --text-light: #eef5ef;
  --btn-hover: #6f7a6c;
  --shadow: #626e5c;
  --light-shadow: #ccdac5;
  --light-shadow2: #aeb9a9;
}

.appContainer {
  margin: 0 auto;
  padding: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: var(--text-dark);
}

element {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

element::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
